
<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h1>Projects</h1>
    </div>
</div>

<div class="row margin-bottom-20">
    <div class="col-md-8">
        <button class="btn btn-primary pull-right" ng-click="new()"><i class="fa fa-plus"></i> New project</button>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item project-list-item" ng-repeat="p in projects">
                <span>{{p.title}}</span>
                <div class="btn-group pull-right btn-project-list-item" role="group">
                    <a href="#/projects/{{p.id}}" class="btn btn-sm btn-primary" role="button"><i class="fa fa-pencil"> Edit</i></a>
                    <button class="btn btn-sm btn-danger" ng-click="delete(p.id)"><i class="fa fa-times"></i></button>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</div>
