<div class="row">
    <div class="col-md-12">
        <h1>
            <span ng-bind="dayHeader"></span>
            <span><small ng-bind="durationHeader"></small></span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="btn-group">
                <button class="btn btn-default" ng-click="navigateDay(false)"><i class="fa fa-arrow-circle-o-left fa-lg"></i></button>
                <button class="btn btn-default" ng-click="navigateDay(true)"><i class="fa fa-arrow-circle-o-right fa-lg"></i></button>
                <button class="btn btn-default" ng-click="today()"><i class="fa fa-undo fa-lg"></i></button>
                <button class="btn btn-default" ng-click="openDatePicker($event)" ng-class="{active: datePickerOpened}"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
        <div datepicker-popup ng-model="day" show-button-bar="false" is-open="datePickerOpened">
        </div>
    </div>
</div>

<div class="row margin-top-20 margin-bottom-20">
    <div class="col-md-12">
        <form name="formAddActivity" class="form-inline" role="form" ng-submit="add()" novalidate>

            <div class="form-group" show-errors>
                <label class="sr-only" for="project">Project</label>
                <ui-select name="projectActivityList" id="projectActivityList" ng-model="formData.projectActivity.selected" class="form-control form-control-ui-select activity-select" required>
                    <ui-select-match placeholder="Activity">
                        <span ng-bind="$select.selected.projectTitle"></span>
                        <small ng-bind="$select.selected.activityTypeTitle"></small>
                    </ui-select-match>
                    <ui-select-choices repeat="projectActivity in projectActivityList | propsFilter: {projectRefIdComplete: $select.search, projectTitle: $select.search, activityTypeTitle: $select.search}">
                        <div>
                            <small ng-bind-html="projectActivity.projectRefIdComplete | highlight: $select.search"></small>
                            <small ng-bind-html="projectActivity.projectTitle | highlight: $select.search"></small>
                        </div>
                        <span ng-bind-html="projectActivity.activityTypeTitle | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="form-group" show-errors>
                <label class="sr-only" for="hours">Hours</label>
                <input type="number" name="hours" id="hours" class="form-control activity-time" placeholder="Hours" min="0" max="23" ng-model="formData.hours" ng-required="!formData.minutes" />
            </div>
            <div class="form-group" show-errors>
                <label class="sr-only" for="minutes">Minutes</label>
                <input type="number" name="minutes" id="minutes" class="form-control activity-time" placeholder="Minutes" min="0" max="59" step="15" ng-model="formData.minutes" ng-required="!formData.hours" />
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus"></i> Add Activity
            </button>

        </form>
    </div>
</div>

<div class="row" ng-repeat="a in activities">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix">
                <div class="row">
                    <div class="col-md-9">
                        <span ng-bind="a.projectTitle"></span>
                        <small ng-bind="a.activityTypeTitle"></small>
                    </div>
                    <div class="col-md-3 pull-right text-right">
                        <ng-form name="formActivity" class="form-inline">
                        <div class="form-group no-margin" show-errors>
                            <div class="input-group">
                                <div class="pull-right">
                                    <input type="number" class="form-control input-sm activity-time-small" name="actHours" placeholder="Hours"  min="0" max="23" ng-model="a.durationHours" ng-required="!a.durationMinutes" />
                                    <input type="number" class="form-control input-sm activity-time-small" name="actMinutes" placeholder="Minutes" min="0" max="59" ng-model="a.durationMinutes" ng-required="!a.durationHours" />
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" ng-click="save(a)" ng-disabled="formActivity.actHours.$invalid || formActivity.actMinutes.$invalid"><i class="fa fa-check fa-md"></i></button>
                                    <button class="btn btn-default btn-sm" ng-click="delete(a)"><i class="fa fa-remove fa-md"></i></button>
                                </span>
                            </div>
                        </div>
                        </ng-form>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <progressbar class="progress-slim" max="100" value="(a.duration * 100) / totalDuration">{{a.durationFormatted}}</progressbar>
            </div>

        </div>
    </div>
</div>
