<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h1>User <small ng-bind="user.username"></small></h1>
    </div>
</div>

<form name="formUser" class="form-horizontal" role="form" ng-submit="save()" novalidate>
    <div class="row form-group" show-errors>
        <label for="username" class="col-md-2 control-label">Username</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="username" name="username" ng-model="user.username" maxlength="50" placeholder="Username" ng-disabled="user.id !== -1" required />
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="firstName" class="col-md-2 control-label">First Name</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="firtName" name="firstName" ng-model="user.firstName" maxlength="50" placeholder="First Name" />
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="lastName" class="col-md-2 control-label">Last Name</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" maxlength="50" placeholder="Last Name" />
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-6">
            <input type="email" class="form-control" id="email" name="email" ng-model="user.email" maxlength="254" placeholder="Email" required />
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="passwordNew" class="col-md-2 control-label">Password</label>
        <div class="col-md-6">
            <input type="password" class="form-control" id="passwordNew" name="passwordNew" ng-model="user.newPassword" maxlength="50" placeholder="Password" ng-required="user.id === -1" />
        </div>
    </div>

    <div class="row form-group" show-errors="{ showSuccess: true }">
        <label for="passwordConfirm" class="col-md-2 control-label sr-only">Password</label>
        <div class="col-md-6">
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" ng-model="user.newPasswordConfirm" maxlength="50" placeholder="Confirm Password" ng-required="user.id === -1" match="user.newPassword" />
            <small ng-show="formUser.passwordConfirm.$error.match">Passwords do not match</small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> Save
                </button>
                <a href="#/users" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</form>
