.panel-signin {
    margin: 10% auto 10% auto;
    max-width: 300px;
    min-width: 175px;
    width: 100%;
}

.calendar-icon-text {
    font-size: .5em;
    margin-top: .3em;
}

.char-icon-text {
    color: #fff;
    font-size: .7em;
    margin-top: .1em;
}

.nav .fa-stack {
    height: 1.2em;
    line-height: 1em;
    width: 1.28571429em;
}

.dropdown .fa-stack {
    height: 1.3em;
    line-height: 1em;
    width: 1.28571429em;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.activity-select {
    min-width: 300px;
}

.form-control-ui-select {
    width: 100%;
    padding: 0;
    border: 0;
}

.form-control-ui-select > .ui-select-match,
.form-control-ui-select > .ui-select-search {
    width: 100%;
}

.form-inline .form-group .activity-time {
    width: 100px;
}

.form-inline .input-group .activity-time-small {
    width: 55px;
}

.no-margin {
    margin: 0;
}

.progress-slim {
    margin-bottom: 0;
}

.admin-list-item {
    padding: 7px 12px;
}

.recursive-admin-list-item {
    padding: 7px 0 7px 20px;
}

.admin-list-item:hover,
.recursive-admin-list-item:hover {
    background-color: #f5f5f5;
}

.admin-list-item > .btn-admin-list-item,
.recursive-admin-list-item > .btn-admin-list-item {
    opacity: 0.65;
}

.admin-list-item:hover > .btn-admin-list-item {
    opacity: 1;
}

.recursive-admin-list-item > .btn-admin-list-item {
    padding-right: 12px;
}

.recursive-admin-list-item-hover > .btn-admin-list-item {
    opacity: 1;
}

.recursive-admin-list-item ul {
    margin-top: 7px;
}

.recursive-admin-list-item li {
    border-right: 0;
    padding-right: 0;
}

.recursive-admin-list-item li:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.recursive-admin-list-item li:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.recursive-admin-list-hidden {
    display: none;
}

.global-messages-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 60px 5px;
    max-width: 300px;
    z-index: 1000;
}

.list-inline > li {
    padding-bottom: 5px;
}

.label-delete, .label-delete:hover {
    color: #843534;
}

.select-list-item {
    padding-top: 0;
    padding-bottom: 0;
}

.select-list-item > .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.select-list-item > .checkbox > label {
    width: 100%;
}

/*
angular-bootstrap uses glyphicons (e.g. datepicker). -> replace with font awesome
https://github.com/angular-ui/bootstrap/issues/2475
generally: consider using sass/less
*/
.glyphicon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
  content: "\f053";
}
.glyphicon-chevron-right:before {
  content: "\f054";
}
