<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h1>Activity Types</h1>
    </div>
</div>

<div class="row margin-bottom-20">
    <div class="col-md-8">
        <form name="forActivityTypeList" class="form-inline pull-right" role="form" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="search.title" placeholder="Filter..." />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="add()">
                    <i class="fa fa-plus"></i> New Activity Type
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item admin-list-item"
            ng-repeat="at in filteredActivityTypes = (activityTypes | filter:search | orderObjectBy:'title') | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage"
            ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <span ng-bind-html="at.title | highlight: search.title"></span>
                <div class="btn-group pull-right btn-admin-list-item" role="group">
                    <button class="btn btn-sm" ng-class="{'btn-primary': hover, 'btn-default': !hover}" ng-click="edit(at)">
                        <i class="fa fa-pencil"></i> Edit
                    </button>
                    <button class="btn btn-sm" ng-class="{'btn-danger': hover, 'btn-default': !hover}" ng-click="delete(at.id)">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <uib-pagination ng-model="currentPage" max-size="10" total-items="filteredActivityTypes.length" items-per-page="itemsPerPage"></uib-pagination>
    </div>
</div>
