.panel-signin {
    margin: 10% auto 10% auto;
    max-width: 300px;
    min-width: 175px;
    width: 100%;
}

.calendar-text {
    font-size: .5em;
    margin-top: .3em;
}

.dropdown .fa-stack {
    height: 1.3em;
    line-height: 1em;
    width: 1.28571429em;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.form-inline .form-group .inline-act-text {
    min-width: 300px;
    padding: 0;
    border: 0;
}

.form-inline .form-group .inline-act-text .ui-select-match,
.form-inline .form-group .inline-act-text .ui-select-search {
    width: 100%;
}

.form-inline .form-group .inline-act-time {
    width: 100px;
}

.form-inline .input-group .inline-act-time-sm {
    width: 55px;
}

.no-margin {
    margin: 0;
}

.progress-slim {
    margin-bottom: 0;
}

.project-list-item:hover {
    background-color: #f5f5f5;
}

.project-list-item .btn-project-list-item {
    display: none;
}

.project-list-item:hover .btn-project-list-item {
    display: block;
}

.tima-messages-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 60px 5px;
    max-width: 300px;
    z-index: 1000;
}

/*
angular-bootstrap uses glyphicons (e.g. datepicker). -> replace with font awesome
https://github.com/angular-ui/bootstrap/issues/2475
generally: consider using sass/less
*/
.glyphicon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
  content: "\f053";
}
.glyphicon-chevron-right:before {
  content: "\f054";
}
