<div class="modal-header">
    <h3 class="modal-title" ng-bind="title"></h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="search" placeholder="Filter..." />
    </div>

    <ul class="list-group">
        <li class="list-group-item select-list-item" ng-repeat="item in filteredItems = (items | propsFilter: {value1:search, value2:search}) | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="item.checked">
                    <span ng-class="item.class1" ng-bind-html="item.value1 | highlight: search"></span>
                    <span ng-class="item.class2" ng-bind-html="item.value2 | highlight: search"></span>
                </label>
            </div>
        </li>
    </ul>
    <uib-pagination ng-model="currentPage" max-size="10" total-items="filteredItems.length" items-per-page="itemsPerPage"></uib-pagination>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="accept()">{{ acceptButton || "Ok" }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ cancelButton || "Cancel" }}</button>
</div>
