<nav class="navbar navbar-default" ng-controller="NavbarController" role="navigation">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" ng-show="isSignedIn">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">tima</a>
</div>
<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-if="isSignedIn">
    <ul class="nav navbar-nav">
        <li class="dropdown" dropdown>
            <a href="#" class="dropdown-toggle" dropdown-toggle role="button"><i class="fa fa-tasks fa-fw"></i> Activities <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <a ng-href="#/{{activitiesPathToday}}">
                        <span class="fa-stack">
                            <i class="fa fa-calendar-o fa-stack-1x"></i>
                            <strong class="fa fa-stack-1x calendar-icon-text">1</strong>
                        </span> Day
                    </a>
                </li>
                <li ng-show="false">
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-calendar-o fa-stack-1x"></i>
                            <strong class="fa fa-stack-1x calendar-icon-text">7</strong>
                        </span> Week
                    </a>
                </li>
                <li ng-show="false">
                    <a href="#">
                        <span class="fa-stack">
                            <i class="fa fa-calendar-o fa-stack-1x"></i>
                            <strong class="fa fa-stack-1x calendar-icon-text">31</strong>
                        </span> Month
                    </a>
                </li>
            </ul>
        </li>
        <li><a href="#" ng-show="false"><i class="fa fa-area-chart fa-fw"></i> Reporting</a></li>
        <li class="dropdown" dropdown user-access="manager">
            <a href="#" class="dropdown-toggle" dropdown-toggle role="button"><i class="fa fa-wrench fa-fw"></i> Administration <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#/projects">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-1x"></i>
                            <strong class="fa fa-stack-1x char-icon-text">P</strong>
                        </span> Projects
                    </a>
                </li>
                <li>
                    <a href="#/projectCategories">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-1x"></i>
                            <strong class="fa fa-stack-1x char-icon-text">C</strong>
                        </span> Project Categories
                    </a>
                </li>
                <li>
                    <a href="#/activityTypes">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-1x"></i>
                            <strong class="fa fa-stack-1x char-icon-text">A</strong>
                        </span> Activity Types
                    </a>
                </li>
                <li class="divider" user-access="admin"></li>
                <li><a href="#/users" user-access="admin"><i class="fa fa-users fa-fw"></i> Users</a></li>
                <li><a href="#/departments" user-access="admin"><i class="fa fa-sitemap fa-fw"></i> Departments</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
            <a href="#" class="dropdown-toggle" dropdown-toggle role="button">
                <span ng-bind="user.username" ng-show="!user.firstName || !user.lastName"></span>
                <span ng-show="user.firstName && user.lastName">
                    <span ng-bind="user.firstName"></span>
                    <span ng-bind="user.lastName"></span>
                </span>
                <i class="fa fa-caret-down fa-fw"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-href="#/userSettings"><i class="fa fa-cog fa-fw"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="signout()"><i class="fa fa-sign-out fa-fw"></i> Sign out</a></li>
            </ul>
        </li>
    </ul>
</div>
</nav>
