<h1>Reporting</h1>

<form name="formProject" class="form-horizontal" role="form" ng-submit="save()" novalidate>

    <div class="row form-group">
        <label for="startDate" class="col-md-2 control-label">Start</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" class="form-control" id="startDate" name="startDate" uib-datepicker-popup ng-model="criteria.startDate" is-open="openDatePopups['btnStartDatePopup']" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" id="btnStartDatePopup" class="btn btn-default" ng-click="openDatePopup($event)"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <label for="endDate" class="col-md-2 control-label">End</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" class="form-control" id="endDate" name="endDate" uib-datepicker-popup ng-model="criteria.endDate" is-open="openDatePopups['btnEndDatePopup']" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" id="btnEndDatePopup" class="btn btn-default" ng-click="openDatePopup($event)"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <label for="projects" class="col-md-2 control-label">Projects</label>
        <div class="col-md-6">
            <div class="input-group">
                <ui-select name="projects" id="projects" ng-model="selectedProject.selected">
                    <ui-select-match placeholder="Choose projects">
                        <small ng-bind="$select.selected.refIdComplete"></small>
                        <span ng-bind="$select.selected.title"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="project in projects | propsFilter: {refIdComplete: $select.search, title: $select.search}">
                        <small ng-bind-html="project.refIdComplete | highlight: $select.search"></small>
                        <span ng-bind-html="project.title | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="multiSelect.addSelectedItem(criteria.projects, selectedProject)"><i class="fa fa-plus"></i> Add</button>
                    <button type="button" class="btn btn-default" ng-click="multiSelect.addMultipleItems(projects, criteria.projects, 'Projects', 'refIdComplete', 'small', 'title', '')"><i class="fa fa-ellipsis-h"></i></button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <ul class="list-inline">
                <li ng-repeat="p in criteria.projects | orderObjectBy:'title'">
                    <span class="label label-default">
                        <small ng-bind="p.refIdComplete"></small>
                        <span ng-bind="p.title"></span>
                        <a href ng-click="multiSelect.removeItem(criteria.projects, p)" class="label-delete"><i class="fa fa-times"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-8">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="refreshReport()">
                    <i class="fa fa-refresh"></i> Refresh
                </button>
            </div>
        </div>
    </div>

</form>

<div class="jumbotron">
    <div class="row">
        <h3 class="col-md-2 col-md-offset-1 text-center" ng-show="!_.isUndefined(overview.durationHours)"><span ng-bind="overview.durationHours"></span><small> hours</small></h3>
        <h3 class="col-md-2 col-md-offset-1 text-center" ng-show="!_.isUndefined(overview.durationDays)"><span ng-bind="overview.durationDays"></span><small> days</small></h3>
        <h3 class="col-md-2 text-center"><span ng-bind="overview.projectCount"></span><small> projects</small></h3>
        <h3 class="col-md-2 text-center"><span ng-bind="overview.activityTypeCount"></span><small> activity types</small></h3>
        <h3 class="col-md-2 text-center"><span ng-bind="overview.userCount"></span><small> users</small></h3>
        <h3 class="col-md-2 text-center"><span ng-bind="overview.departmentCount"></span><small> departments</small></h3>
    </div>
</div>

<uib-tabset>
    <uib-tab heading="Overview" select="selectedTab = 'overview'">
        <div ng-if="selectedTab == 'overview'">
            <p>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="pull-right">
                            <p class="btn-group">
                                <label class="btn btn-default" ng-model="overview.currentTimeline" uib-btn-radio="overview.timelineDay">Days</label>
                                <label class="btn btn-default" ng-model="overview.currentTimeline" uib-btn-radio="overview.timelineWeek">Weeks</label>
                                <label class="btn btn-default" ng-model="overview.currentTimeline" uib-btn-radio="overview.timelineMonth">Months</label>
                            </p>
                            <p class="btn-group">
                                <label class="btn btn-default" ng-model="overview.chartType" uib-btn-radio="'Line'"><i class="fa fa-area-chart"></i></label>
                                <label class="btn btn-default" ng-model="overview.chartType" uib-btn-radio="'Bar'"><i class="fa fa-bar-chart"></i></label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <canvas id="timeline-overview" class="chart-base" chart-type="overview.chartType" chart-labels="overview.currentTimeline.labels" chart-data="overview.currentTimeline.values" chart-options="{ scaleBeginAtZero: true, scaleLabel: '<%=value%> h', tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value.toFixed(2) %>' }"></canvas>
                    </div>
                </div>
            </p>
        </div>
    </uib-tab>

    <uib-tab heading="Projects" select="selectedTab = 'projects'">
        <div ng-if="selectedTab == 'projects' && projectsView.noData == false">
            <p>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="pull-right">
                            <p class="btn-group">
                                <label class="btn btn-default" ng-model="projectsView.currentTimeline" uib-btn-radio="projectsView.timelineDay">Days</label>
                                <label class="btn btn-default" ng-model="projectsView.currentTimeline" uib-btn-radio="projectsView.timelineWeek">Weeks</label>
                                <label class="btn btn-default" ng-model="projectsView.currentTimeline" uib-btn-radio="projectsView.timelineMonth">Months</label>
                            </p>
                            <p class="btn-group">
                                <label class="btn btn-default" ng-model="projectsView.chartType" uib-btn-radio="'Line'"><i class="fa fa-area-chart"></i></label>
                                <label class="btn btn-default" ng-model="projectsView.chartType" uib-btn-radio="'Bar'"><i class="fa fa-bar-chart"></i></label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <canvas id="timeline-projects" class="chart-base" chart-type="projectsView.chartType" chart-labels="projectsView.currentTimeline.labels" chart-series="projectsView.timeline.series" chart-data="projectsView.currentTimeline.values" chart-options="{ scaleBeginAtZero: true, scaleLabel: '<%=value%> h', tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value.toFixed(2) %>', multiTooltipTemplate: '<%= value.toFixed(2) %>' }"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <canvas id="pie-projects" class="chart chart-pie" chart-labels="projectsView.pie.labels" chart-data="projectsView.pie.data" chart-legend="true" chart-options="{ tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value.toFixed(2) %>' }"></canvas>
                    </div>
                </div>
            </p>
        </div>
    </uib-tab>
</uib-tabset>
