<div class="row form-group" show-errors>
    <label for="ref-id" class="col-md-3 control-label">Reference ID</label>
    <div class="col-md-9">
        <div class="input-group">
            <span class="input-group-addon" id="ref-id-pre" ng-bind="data.refIdPrefix || '#'"></span>
            <input type="text" class="form-control" id="ref-id" name="ref-id" ng-model="data.refId" maxlength="5" placeholder="Reference ID" aria-describedby="ref-id-pre" required />
        </div>
        <small ng-show="data.id > -1"><strong>Warning:</strong> Changing the reference ID will also change the IDs of all descendants and all project in this, or a descendant, category.</small>
    </div>
</div>
<div class="row form-group" show-errors>
    <label for="title" class="col-md-3 control-label">Title</label>
    <div class="col-md-9">
        <input type="text" class="form-control" id="title" name="title" ng-model="data.title" maxlength="100" placeholder="Title" required />
    </div>
</div>
