<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h1>My Projects</h1>
    </div>
</div>

<div class="row margin-bottom-20">
    <div class="col-md-8">
        <form name="formProjectList" class="form-inline pull-right" role="form" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="search" placeholder="Filter..." />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item admin-list-item"
            ng-repeat="p in filteredProjects = (projects | propsFilter: {refIdComplete:search, title:search}) | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage"
            ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <span>
                    <small ng-bind-html="p.refIdComplete | highlight: search"></small>
                    <span ng-bind-html="p.title | highlight: search"></span>
                    <span class="badge" ng-show="p.isResponsible">Responsible</span>
                    <span class="badge" ng-show="p.isManager">Manager</span>
                </span>
                <div class="btn-group pull-right btn-admin-list-item" role="group">
                    <a href="#/projects/{{p.id}}?returnPath=myprojects" class="btn btn-sm" ng-class="{'btn-primary': hover, 'btn-default': !hover}" role="button"><i class="fa fa-pencil"></i> Edit</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <pagination ng-model="currentPage" max-size="10" total-items="filteredProjects.length" items-per-page="itemsPerPage"></pagination>
    </div>
</div>
