<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h1>Project <small>{{project.title}}</small></h1>
    </div>
</div>

<form name="formProject" class="form-horizontal" role="form" ng-submit="save()" novalidate>
    <div class="row form-group" show-errors>
        <label for="title" class="col-md-2 control-label">Title</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="title" name="title" ng-model="project.title" maxlength="100" placeholder="Title" required />
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="projectCategory" class="col-md-2 control-label">Project category</label>
        <div class="col-md-6">
            <ui-select name="projectCategory" id="projectCategory" class="form-control form-control-ui-select" ng-model="selectedProjectCategory.selected" required>
                <ui-select-match placeholder="">{{$select.selected.path}}</ui-select-match>
                <ui-select-choices repeat="cat in projectCategories | propsFilter: {path: $select.search}">
                    <div ng-bind-html="cat.path | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row form-group">
        <label for="activityType" class="col-md-2 control-label">Activity types</label>
        <div class="col-md-5">
            <ui-select name="activityType" id="activityType" ng-model="selectedActivityType.selected">
                <ui-select-match placeholder="">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="at in activityTypes | propsFilter: {title: $select.search}">
                    <div ng-bind-html="at.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default pull-right" ng-click="addActivityType()"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <ul class="list-group">
                <li class="list-group-item admin-list-item" ng-repeat="at in project.activityTypes" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <span>{{at.title}}</span>
                    <div class="pull-right btn-admin-list-item" role="group">
                        <button class="btn btn-sm" ng-class="{'btn-danger': hover, 'btn-default': !hover}" ng-click="deleteActivityType(at)"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> Save
                </button>
                <a href="#/projects" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</form>
