<div class="row margin-bottom-20">
    <div class="col-md-12">
        <h1>Project <small ng-bind="project.title"></small></h1>
    </div>
</div>

<form name="formProject" class="form-horizontal" role="form" ng-submit="save()" novalidate>
    <div class="row form-group" show-errors>
        <label for="ref-id" class="col-md-2 control-label">Reference ID</label>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="ref-id-pre" ng-bind="selectedProjectCategory.selected.refIdComplete || '...'"></span>
                <input type="text" class="form-control" id="ref-id" name="ref-id" ng-model="project.refId" maxlength="5" placeholder="Reference ID" aria-describedby="ref-id-pre" ng-disabled="disableForUsers(false)" required />
            </div>
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="title" class="col-md-2 control-label">Title</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="title" name="title" ng-model="project.title" maxlength="100" placeholder="Title" ng-disabled="disableForUsers(false)" required />
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="projectCategory" class="col-md-2 control-label">Project category</label>
        <div class="col-md-6">
            <ui-select name="projectCategory" id="projectCategory" class="form-control form-control-ui-select" ng-model="selectedProjectCategory.selected" ng-disabled="disableForUsers(false)" required>
                <ui-select-match placeholder="Choose project category">
                    <small ng-bind="$select.selected.refIdComplete"></small>
                    <span ng-bind="$select.selected.path"></span>
                </ui-select-match>
                <ui-select-choices repeat="cat in projectCategories | propsFilter: {refIdComplete: $select.search, path: $select.search}">
                    <small ng-bind-html="cat.refIdComplete | highlight: $select.search"></small>
                    <span ng-bind-html="cat.path | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="responsibleUser" class="col-md-2 control-label">Responsible</label>
        <div class="col-md-6">
            <ui-select name="responsibleUser" id="responsibleUser" class="form-control form-control-ui-select" ng-model="selectedResponsibleUser.selected" ng-disabled="disableForUsers(false)" required>
                <ui-select-match placeholder="Choose project responsible">
                    <span ng-bind="$select.selected.username"></span>
                </ui-select-match>
                <ui-select-choices repeat="user in users | propsFilter: {username: $select.search}">
                    <span ng-bind-html="user.username | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row form-group" show-errors>
        <label for="managerUser" class="col-md-2 control-label">Manager</label>
        <div class="col-md-6">
            <ui-select name="managerUser" id="managerUser" class="form-control form-control-ui-select" ng-model="selectedManagerUser.selected" ng-disabled="disableForUsers(true)" required>
                <ui-select-match placeholder="Choose project manager">
                    <span ng-bind="$select.selected.username"></span>
                </ui-select-match>
                <ui-select-choices repeat="user in users | propsFilter: {username: $select.search}">
                    <span ng-bind-html="user.username | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="row form-group">
        <label for="activityType" class="col-md-2 control-label">Activity types</label>
        <div class="col-md-5">
            <ui-select name="activityType" id="activityType" ng-model="selectedActivityType.selected">
                <ui-select-match placeholder="Choose activity type">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="at in activityTypes | propsFilter: {title: $select.search}">
                    <div ng-bind-html="at.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default pull-right" ng-click="addActivityType()"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <ul class="list-inline">
                <li ng-repeat="at in project.activityTypes | orderObjectBy:'title'">
                    <span class="label label-default">
                        <span ng-bind="at.title"></span>
                        <a href ng-click="deleteActivityType(at)" class="label-delete"><i class="fa fa-times"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row form-group">
        <label for="depts" class="col-md-2 control-label">Departments</label>
        <div class="col-md-5">
            <ui-select name="depts" id="depts" ng-model="selectedDepartment.selected">
                <ui-select-match placeholder="Choose department">{{$select.selected.path}}</ui-select-match>
                <ui-select-choices repeat="dept in departments | propsFilter: {path: $select.search}">
                    <div ng-bind-html="dept.path | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default pull-right" ng-click="addDepartment()"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <ul class="list-inline">
                <li ng-repeat="dept in project.departments | orderObjectBy:'title'">
                    <span class="label label-default">
                        <span ng-bind="dept.title"></span>
                        <a href ng-click="deleteDepartment(dept)" class="label-delete"><i class="fa fa-times"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row form-group">
        <label for="users" class="col-md-2 control-label">Users</label>
        <div class="col-md-5">
            <ui-select name="users" id="users" ng-model="selectedUser.selected">
                <ui-select-match placeholder="Choose user">{{$select.selected.username}}</ui-select-match>
                <ui-select-choices repeat="user in users | propsFilter: {username: $select.search}">
                    <div ng-bind-html="user.username | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default pull-right" ng-click="addUser()"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <ul class="list-inline">
                <li ng-repeat="user in project.users | orderObjectBy:'username'">
                    <span class="label label-default">
                        <span ng-bind="user.username"></span>
                        <a href ng-click="deleteUser(user)" class="label-delete"><i class="fa fa-times"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> Save
                </button>
                <a ng-href="#/{{returnPath}}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</form>
